name: CMake

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build-ubuntu-22:
    # GitHub-hosted Ubuntu 22.04 runner
    runs-on: ubuntu-22.04
    # Use shared steps
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/workflows/shared_steps
